<section class="section-background" ng-cloak>
    <div class="container">
        <div class="spacing-create"></div>
        <div class="md-padding" layout="row">
            <div flex="20">
                <md-button class="md-raised md-primary" ng-click="createLeader.goToLeaders()"> Back </md-button>
            </div>
            <div flex="60">
                <md-toolbar class="md-table-toolbar md-default">
                    <div class="md-toolbar-tools">
                        <h2 class="md-title">Create Leader</h2>
                    </div>
                </md-toolbar>
                <md-content class="md-padding input-area" layout="row" layout-align="center">
                    <form name="createLeader.eventForm">
                        <div>
                            <md-input-container>
                                <label>Name</label>
                                <input type="text" ng-model="createLeader.data.name">
                            </md-input-container>
                            <md-input-container>
                                <label>Mobile</label>
                                <input type="text" ng-model="createLeader.data.mobile">
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container>
                                <label>Lat</label>
                                <input type="text" ng-model="createLeader.data.lat" name="lat">
                            </md-input-container>
                            <md-input-container>
                                <label>Long</label>
                                <input type="text" ng-model="createLeader.data.long" name="long">
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container>
                                <label>Location Name</label>
                                <input type="text" ng-model="createLeader.data.location_name">
                            </md-input-container>
                        </div>
                        <div layout="row" layout-align="end">
                            <md-button class="md-raised md-primary" on-click="createLeader.create(callbacks)" click-and-disable> Create </md-button>
                        </div>
                        <form>
                </md-content>
            </div>
        </div>
</section>
