<section class="section-background" ng-cloak>
    <div class="container">
        <div class="spacing-create"></div>
        <div class="md-padding" layout="row">
            <div flex="10"></div>
            <div flex="80">
                <div layout="row" layout-sm="column" layout-wrap>
                    <div style="margin-top:18%;width:100%">
                        <h5 class="noData">Welcome to kickstart. Please choose the options from sidebar.</h5>
                    </div>
                </div>
            </div>
            <div flex="10"></div>
        </div>
    </div>
</section>
