<section class="section-background" ng-cloak>
    <div class="container">
        <div class="spacing-create"></div>
        <div class="md-padding" layout="row">
            <div flex="20">
                <md-button class="md-raised md-primary" ng-click="editJobseeker.goToJobseekers()"> Back </md-button>
            </div>
            <div flex="60">
                <md-toolbar class="md-table-toolbar md-default">
                    <div class="md-toolbar-tools">
                        <h2 class="md-title">Edit Jobseeker</h2>
                    </div>
                </md-toolbar>
                <md-content class="md-padding input-area" layout="row" layout-align="center">
                    <form name="editJobseeker.eventForm">
                        <div>
                            <md-autocomplete flex md-input-name="leaderName" md-input-minlength="0" md-input-maxlength="18" md-selected-item="editJobseeker.data.leader" md-search-text="editJobseeker.searchLeader" md-items="item in editJobseeker.leaders | filter:editJobseeker.searchLeader" md-item-text="item.name" md-floating-label="Leader">
                                <md-item-template>
                                    <span class="item-title">
                                        <span md-highlight-text="editJobseeker.searchLeader"> {{item.name}} </span>
                                    </span>
                                    <span class="item-metadata">
                                        <span class="item-metastat">
                                            <strong>{{item.mobile}}</strong>
                                         </span>
                                    </span>
                                </md-item-template>
                            </md-autocomplete>
                        </div>
                        <div>
                            <md-input-container>
                                <label>Name</label>
                                <input type="text" ng-model="editJobseeker.data.name">
                            </md-input-container>
                            <md-input-container>
                                <label>Mobile</label>
                                <input type="text" ng-model="editJobseeker.data.mobile">
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container>
                                <label>Last Salary</label>
                                <input type="text" ng-model="editJobseeker.data.lastSalary">
                            </md-input-container>
                            <md-input-container>
                                <label>Location Name</label>
                                <input type="text" ng-model="editJobseeker.data.location_name">
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container>
                                <label>Lat</label>
                                <input type="text" ng-model="editJobseeker.data.lat" name="lat">
                            </md-input-container>
                            <md-input-container>
                                <label>Long</label>
                                <input type="text" ng-model="editJobseeker.data.long" name="long">
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container class="md-block">
                                <label>Comments</label>
                                <input type="text" ng-model="editJobseeker.data.comments">
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex="50">
                                <label>Education Level</label>
                                <md-select ng-model="editJobseeker.data.educationLevel">
                                    <md-option ng-repeat="education in editJobseeker.allDropdowns.education" value="{{education}}">
                                        {{education}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="50">
                                <label>Gender</label>
                                <md-select ng-model="editJobseeker.data.gender">
                                    <md-option ng-repeat="(key,value) in app.gender" value="{{key}}">
                                        {{value}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container>
                                <label>Date of Birth</label>
                                <input mdc-datetime-picker date="true" time="false" type="text" placeholder="Choose Date" ng-model="editJobseeker.data.dateOfBirth">
                            </md-input-container>
                            <md-button id="uploadButton" class="md-raised md-primary" style="position: relative;"> <span ng-if="!editJobseeker.data.file.name">Choose Files</span><span ng-if="editJobseeker.data.file.name">{{editJobseeker.data.file.name}}</span>
                                <input id="fileInput" name="file" type="file" accept="image/*" file-model="editJobseeker.getFile($files,$errors)" file-type="image">
                            </md-button>
                        </div>
                        <div layout="row">
                            <md-input-container flex="50">
                                <label>Communication</label>
                                <md-select ng-model="editJobseeker.data.communication">
                                    <md-option value="{{communication}}" ng-repeat="communication in editJobseeker.allDropdowns.communication">
                                        {{communication}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex="50">
                                <label>License</label>
                                <md-select ng-model="editJobseeker.data.license">
                                    <md-option value="{{license}}" ng-repeat="license in editJobseeker.allDropdowns.license">
                                        {{license}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="50">
                                <label>Computer</label>
                                <md-select ng-model="editJobseeker.data.computer">
                                    <md-option value="{{computer}}" ng-repeat="computer in editJobseeker.allDropdowns.computer">
                                        {{computer}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex="50">
                                <label>Has Bike</label>
                                <md-select ng-model="editJobseeker.data.hasBike">
                                    <md-option value="true">
                                        Yes
                                    </md-option>
                                    <md-option value="false">
                                        No
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="50">
                                <label>Has Smartphone</label>
                                <md-select ng-model="editJobseeker.data.hasSmartphone">
                                    <md-option value="true">
                                        Yes
                                    </md-option>
                                    <md-option value="false">
                                        No
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <md-toolbar class="md-table-toolbar md-default">
                            <div class="md-toolbar-tools">
                                <h2 class="md-title">Trades</h2>
                                <div flex="" class="flex"></div>
                                <i class="zmdi zmdi-plus " ng-click="editJobseeker.addTrade()"></i>
                            </div>
                        </md-toolbar>
                        <div ng-repeat="trade in editJobseeker.data.trades" layout="row">
                            <md-autocomplete flex md-input-name="tradeName" md-input-minlength="0" md-input-maxlength="18" md-selected-item="trade.name" md-search-text="trade.searchText" md-items="item in editJobseeker.allDropdowns.trades  | filter:trade.searchText" md-item-text="item" md-floating-label="Name">
                                <md-item-template>
                                    <span md-highlight-text="trade.searchText">{{item}}</span>
                                </md-item-template>
                            </md-autocomplete>
                            <md-input-container>
                                <label>Value</label>
                                <input type="text" ng-model="trade.value">
                            </md-input-container>
                            <i class="zmdi zmdi-delete " ng-click="editJobseeker.removeTrade($index)"></i>
                        </div>
                        <div layout="row" layout-align="end">
                            <md-button class="md-raised md-primary" on-click="editJobseeker.edit(callbacks)" click-and-disable> Save </md-button>
                        </div>
                        <form>
                </md-content>
            </div>
        </div>
</section>
