<section class="section-background" ng-cloak>
    <div class="container">
        <div class="spacing-create"></div>
        <div class="md-padding" layout="row">
            <div flex="100">
                <md-card>
                    <md-toolbar class="md-table-toolbar md-default">
                        <div class="md-toolbar-tools">
                            <h2 class="md-title">Jobseekers</h2>
                            <div flex></div>
                            <i class="zmdi zmdi-plus zmdi-hc-2x" ng-click="jobseekers.goToCreateJobseeker()"></i>
                        </div>
                    </md-toolbar>
                    <md-table-container>
                        <table md-table>
                            <thead md-head>
                                <tr md-row>
                                    <th md-column md-numeric><span>S.No.</span></th>
                                    <th md-column><span>Name</span></th>
                                    <th md-column><span>Mobile</span></th>
                                    <th md-column><span>Leader Name</span></th>
                                    <th md-column><span>Leader Mobile</span></th>
                                    <th md-column><span>Location</span></th>
                                    <th md-column><span>Trades</span></th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row ng-repeat="jobseeker in jobseekers.jobseekers.data" ng-click="jobseekers.showDetails(jobseeker)">
                                    <td md-cell>{{(jobseekers.query.page-1)*jobseekers.query.limit + $index+1}}</td>
                                    <td md-cell>{{jobseeker.name}}</td>
                                    <td md-cell>{{jobseeker.mobile}}</td>
                                    <td md-cell>{{jobseeker.leader.name}}</td>
                                    <td md-cell>{{jobseeker.leader.mobile}}</td>
                                    <td md-cell>{{jobseeker.location_name}}</td>
                                    <td md-cell>
                                    <span ng-repeat="(key,item) in jobseeker.trades">
                                        <span>{{key}} {{item}}</span><span ng-if="!$last">, </span>
                                    </span>
                                    </td>
                                    <td md-cell><i class="zmdi zmdi-edit" ng-click="jobseekers.goToEditJobseeker($event,jobseeker.id)"></i> 
                                    <!-- <i class="zmdi zmdi-delete" ng-click="jobseekers.deleteJobseeker($event,jobseeker.id,$index)"></i> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                    <md-table-pagination md-limit="jobseekers.query.limit" md-page="jobseekers.query.page" md-total="{{jobseekers.jobseekers.total_count}}" md-on-paginate="jobseekers.getJobseekers" md-page-select></md-table-pagination>
                </md-card>
            </div>
        </div>
</section>
