<md-dialog ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{vacancy.title}}</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div>
                    <md-input-container>
                        <label>Job Title</label>
                        <input type="text" disabled ng-model="vacancy.jobTitle">
                    </md-input-container>
                    <md-input-container>
                        <label>Location Name</label>
                        <input type="text" disabled ng-model="vacancy.location_name">
                    </md-input-container>
                    <md-input-container>
                        <label>Company</label>
                        <input type="text" disabled ng-model="vacancy.company">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container class="md-block">
                        <label>Compulsory Requirements</label>
                        <input type="text" disabled ng-model="vacancy.compulsoryReqs">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container class="md-block">
                        <label>Preferred Requirements</label>
                        <input type="text" disabled ng-model="vacancy.preferredReqs">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container class="md-block">
                        <label>Comments</label>
                        <input type="text" disabled ng-model="vacancy.comments">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <label>Salary Min</label>
                        <input type="text" disabled ng-model="vacancy.salary_min">
                    </md-input-container>
                    <md-input-container>
                        <label>Salary Max</label>
                        <input type="text" disabled ng-model="vacancy.salary_max">
                    </md-input-container>
                    <md-input-container>
                        <label>Working Hours</label>
                        <input type="text" disabled ng-model="vacancy.working_hours">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <label>Food Accomodation</label>
                        <input type="text" disabled placeholder="{{vacancy.food_accommodation | true_false}}">
                    </md-input-container>
                    <md-input-container>
                        <label>PF / ESI</label>
                        <input type="text" disabled placeholder="{{vacancy.pfesi | true_false}}">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <label>Lat</label>
                        <input type="text" disabled ng-model="vacancy.location.lat">
                    </md-input-container>
                    <md-input-container>
                        <label>Long</label>
                        <input type="text" disabled ng-model="vacancy.location.long">
                    </md-input-container>
                    <md-input-container>
                        <label>Education Level</label>
                        <input type="text" disabled ng-model="vacancy.educationLevel">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <label>Guarantee Time</label>
                        <input type="text" disabled ng-model="vacancy.guarantee_time">
                    </md-input-container>
                    <md-input-container>
                        <label>Age Min</label>
                        <input type="text" disabled ng-model="vacancy.age_min">
                    </md-input-container>
                    <md-input-container>
                        <label>Age Max</label>
                        <input type="text" disabled ng-model="vacancy.age_max">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <label>Trade</label>
                        <input type="text" disabled ng-model="vacancy.trade">
                    </md-input-container>
                    <md-input-container>
                        <label>Communication</label>
                        <input type="text" disabled ng-model="vacancy.communication">
                    </md-input-container>
                    <md-input-container>
                        <label>License</label>
                        <input type="text" disabled ng-model="vacancy.license">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <label>Computer</label>
                        <input type="text" disabled ng-model="vacancy.computer">
                    </md-input-container>
                    <md-input-container>
                        <label>Has Bike</label>
                        <input type="text" disabled placeholder="{{vacancy.hasBike | true_false}}">
                    </md-input-container>
                    <md-input-container>
                        <label>Has Smartphone</label>
                        <input type="text" disabled placeholder="{{vacancy.hasSmartphone | true_false}}">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <label>Display Location</label>
                        <input type="text" disabled ng-model="vacancy.display_location">
                    </md-input-container>
                    <md-input-container>
                        <label>Show Top</label>
                        <input type="text" disabled placeholder="{{vacancy.showTop | true_false }}">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container class="md-block">
                        <h4>Interview Dates</h4>
                        <p ng-repeat="date in vacancy.interview_dates">{{date | date:'dd-MM-yyyy HH:mm'}}</p>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
